/* External CSS */
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #a7a2a2;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    text-align:left;
}

nav a {
    color: rgb(244, 242, 242);
    margin: 0 10px;
    text-decoration:solid;
}

.main-layout {
    display:flex;
    gap: 16px;
    padding: 16px;
}

section {
    flex: 3;
    background-color: white;
    padding: 15px;
}

aside {
    flex: 1;
    background-color: #2c3e50;
    padding: 15px;
    color: white;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}
