body {
    font-family: Arial, sans-serif;
    background-color: #d7b9e5c4;
    margin: 0;
}

header {
    background-color: #b485e0;
    color: rgb(92, 5, 96);
    padding: 20px;
    text-align: center;
}

.container {
    width: 60%;
    margin: 30px auto;
    background: rgb(195, 155, 218);
    padding: 20px;
    border-radius: 5px;
    border-color: purple;
    border: 1px solid;
}

.add-task input, .add-task button {
    padding: 8px;
    margin-right: 5px;
}

.filters {
    margin: 15px 0;
}

.filters button {
    padding: 6px 12px;
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.task-info span {
    font-size: 12px;
    color: #555;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}
